// src/components/NavBar/NavBar.scss
.main-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 20px;
      
      a {
        font-weight: bold;
        color: #2c3e50;
        display: flex;
        align-items: baseline;
        text-decoration: none;
        font-size: 1rem;
        margin-right: 0.5rem;
        gap: 0.4rem;
    
        & p:hover {
          text-decoration: underline;
        }
    
        &.router-link-exact-active {
          color: #42b983;
        }
      }
    

        & img{
          width: 200px;

        }
        
       
      }
      i {
        font-size: 1.1rem; 
      }