$font-stack: Avenir, Helvetica, Arial, sans-serif;
$main-color: #2c3e50;
$background-dark: #12002b;

html, body {
  font-family: $font-stack;
  text-align: center;
  color: $main-color;
  margin: 0;
  padding: 0;
 
}


* {
  font-family: $font-stack;
  margin: 0;
  
}

a {
  text-decoration: none;
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}


.routes-container {
  flex: 1; 
}


footer {
  flex-shrink: 0;
}
