.error-page { 
background-color: #b6ffec;
.error { min-height: 610px;
  width: 100%;
  @media (max-width: 920px) {min-height: 680px;}
  @media (min-width: 1900px) {min-height: 720px;}
    .green-error { 
                   width: 50%;
                 
                   align-items: center;
                 }
    .text-error {
      margin: 2rem;
      font-size: large;
    }



    .button-404 { align-items: center;
                  background-color: #b6ffec;
                  border-radius: 10%;
                  border-color: #30883a;
                  
                  color: ffff;
                  font-size: 1.1rem;
                  font-weight: bold;
                  margin-bottom: 2rem;
                 cursor: pointer;
                  max-width: 12.5rem;
                  padding: 0.8rem;
                }
  }
}