.error-page { 
background-color: #b6ffec;
 
    .green-error { 
                   width: 50%;
                 
                   align-items: center;
                 }
    .text-error {
      margin: 2rem;
      font-size: large;
    }



    .button-404 { align-items: center;
                  background-color: #00bc77;
                  border-radius: 50%;
                  border-color: #00bc77;
                  color: #fff;
                  font-size: 1.1rem;
                  font-weight: bold;
                  margin-bottom: 2rem;
                 cursor: pointer;
                  max-width: 12.5rem;
                  padding: 0.8rem;
                }
  }